@*
    Video 100
*@

@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear Tipo Cuenta</h1>
<h5>
    El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.
</h5>

<!-- Validación -->
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Crear">

    <div class="mb-3">
        <!-- asp-for es un tag-helper (recupera los valores del objeto recibido) -->
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="URL" class="form-label"></label>
        <input asp-for="URL" class="form-control" />
        <span asp-validation-for="URL" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TarjetaDeCredito" class="form-label"></label>
        <input asp-for="TarjetaDeCredito" class="form-control" />
        <span asp-validation-for="TarjetaDeCredito" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>

<!-- Agrega los scripts al layout. -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
